<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo</title>
<!-- 引入echarts文件 -->


</head>
<body>
    <script type="text/javascript" src="echarts.min.js"></script>
    <script type="text/javascript" src="echarts-gl.min.js"></script>
    <script type="text/javascript" src="ecStat.min.js"></script>
    <script type="text/javascript" src="dataTool.min.js"></script>
    <script type="text/javascript" src="china.js"></script>
    <script type="text/javascript" src="world.js"></script>
    <!-- <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script> -->
    <script type="text/javascript" src="bmap.min.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="jquery-1.9.1.min.js"></script>

    <div id ="map",style="width: 600px; height: 400px;margin: 0 auto"></div>
    <script src='map.js'></script> 
    <script >


     console.log("6845313")
    </script> 

</body>
</html>