<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../static/editor/tinymce.min.js"></script>
    <script src="../../static/editor/vendor/FileSaver.js"></script>
    <script src="../../static/editor/html-docx.js"></script>
    <script src="../../static/js/pdfobject.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.datetimepicker.css" />
    <script src="../../static/js/jquery.datetimepicker.full.min.js"></script>
    <script src="../../static/js/echarts.min.js"></script>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src='../../static/js/taizhou.js'></script>

    <title>网址</title>
    <style type="text/css">
        .scrollbar::-webkit-scrollbar {
            display: none;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            width: 500px;
            height: 250px;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }
    </style>
</head>

<body>

    <div class="scrollbar"
        style="display: flex;align-content:flex-start;position: absolute; justify-content: center; flex-wrap: wrap; width: 100%;height: 100%;background-color: rgb(213, 217, 230);overflow-x: hidden;overflow-y: auto;">
        <div id="map" style="height:100%;width:100%;background-color: rgb(209, 188, 26);"></div>
        <div id="line2" style="height:100%;width:100%;background-color: aqua;"></div>
        
        <div id="line" style="height:100%;width:100%;;background-color: rgb(21, 207, 130);"></div>
        <script>

            $(function () {
                const myChart = echarts.init($("#line")[0]);
                const symbolSize = 20;
                const data = [
                    [-90, 60],
                    [-60, 50],
                    [-30, 40],
                    [0, 30],
                    [30, 20]
                ];
                const data1 = [
                    [-90, 60],
                    [-60, 50],
                    [-30, 40],
                    [0, 30],
                    [30, 20]
                ];
                const data2 = [
                    [-90, 20],
                    [-60, 30],
                    [-30, 40],
                    [0, 50],
                    [30, 60]
                ];

                const dataobj = [
                    {
                        name: 'line',
                        type: 'circle',
                        data: [
                            [-90, 60],
                            [-60, 50],
                            [-30, 40],
                            [0, 30],
                            [30, 20]
                        ]
                    },
                    {
                        name: 'bar',
                        type: 'rect',
                        data: [
                            [-90, 20],
                            [-60, 30],
                            [-30, 40],
                            [0, 50],
                            [30, 60]
                        ]
                    },
                    {
                        name: 'bar',
                        type: 'rect',
                        data: [
                            [-90, 10],
                            [-60, 20],
                            [-30, 60],
                            [0, 10],
                            [30, 40]
                        ]
                    }
                ]

                myChart.setOption({
                    title: {
                        text: '节点拖拽',
                        left: 'center',
                        textStyle: {
                            color: '#826'
                        }
                    },
                    tooltip: {
                        triggerOn: 'none',
                        formatter: function (params) {
                            return (
                                'X: ' +
                                params.data[0].toFixed(2) +
                                '<br>Y: ' +
                                params.data[1].toFixed(2)
                            );
                        }
                    },
                    grid: {
                        top: '8%',
                        right: '8%',
                        left: '8%',
                        bottom: '8%'
                    },
                    xAxis: {
                        min: -100,
                        max: 70,
                        type: 'value',
                        axisLine: { onZero: false }
                    },
                    yAxis: {
                        min: -10,
                        max: 60,
                        type: 'value',
                        axisLine: { onZero: false }
                    },
                    series: [
                        {
                            id: 'a',
                            type: 'line',
                            smooth: true,
                            symbolSize: 10,

                            data: data1,

                        },
                        {
                            id: 'b',
                            type: 'bar',
                            width: 50,
                            symbolSize: symbolSize,
                            data: data2,

                        }
                    ]
                });

                setTimeout(function () {
                    var gph = []
                    echarts.util.map(dataobj, function (dataItem, dataIndex) {
                        //console.log(dataItem)                           
                        dataItem.data.map(function (dataitem, dataindex) {

                            var single = {
                                type: 'circle',//dataItem.type,               //每个数据节点都是一个圆点
                                shape: { r: symbolSize / 4 },  //圆点半径
                                position: myChart.convertToPixel('grid', dataitem), //圆点位置
                                // invisible: true,              //若为false，则为实心圆；为true，则为空心圆
                                draggable: true,              //表示节点可拖拽
                                ondrag: function (dx, dy) {
                                    //console.log(e.offsetX,e.offsetY)
                                    // var dx = e.offsetX
                                    // var dy = e.offsetY
                                    // var pos =[dx, dy] //myChart.convertToPixel('grid', [dx, dy])
                                    onPointDragging(dataIndex, dataindex, [this.x, this.y]);
                                },
                                onmousemove: echarts.util.curry(showTooltip, dataindex),  //鼠标移入，显示提示框
                                onmouseout: echarts.util.curry(hideTooltip),              //鼠标移出，隐藏提示框
                                z: 1000

                            }
                            gph.push(single)
                        })
                    })
                    console.log(gph)
                    myChart.setOption({
                        graphic: gph,
                    })
                }, 0);

                // window.addEventListener('resize', updatePosition);  //窗口大小改变时，调整节点位置
                // myChart.on('dataZoom', updatePosition);             //容器大小改变时，调整节点位置
                // function updatePosition() {          //调整节点位置
                //     myChart.setOption({
                //         graphic: echarts.util.map(data, function (item, dataIndex) {
                //             return {
                //                 position: myChart.convertToPixel('grid', item)
                //             };
                //         })
                //     });
                // }

                function showTooltip(dataIndex) {     //显示提示框

                    myChart.dispatchAction({
                        type: 'showTip',
                        seriesIndex: 0,
                        dataIndex: dataIndex
                    });
                }

                function hideTooltip() {              //隐藏提示框
                    myChart.dispatchAction({
                        type: 'hideTip'
                    });
                }

                function onPointDragging(dataIndex, dataindex, pos) {  //节点拖拽
                    // console.log("拖拽",dataIndex,dataindex, dataobj[dataIndex].data[dataindex][1],myChart.convertFromPixel('grid', pos)[1])
                    if (dataIndex != 0) {
                        dataobj[dataIndex].data[dataindex][1] = myChart.convertFromPixel('grid', pos)[1]
                    }
                    else {
                        dataobj[dataIndex].data[dataindex][0] = myChart.convertFromPixel('grid', pos)[0]
                        dataobj[dataIndex].data[dataindex][1] = myChart.convertFromPixel('grid', pos)[1]
                    }
                    //dataobj[dataIndex].data[dataindex][1] = myChart.convertFromPixel('grid', pos)[1]


                    var gph2 = []


                    dataobj.map(function (dataItem, dataIndex) {

                        dataItem.data.map(function (dataitem, dataindex) {
                            // console.log("拖拽", dataItem,"1",dataitem,"1",myChart.convertFromPixel('grid', pos)[1])

                            // dataobj[dataIndex].data[dataindex][1] = myChart.convertFromPixel('grid', pos)[1]
                            // dataitem[1]= myChart.convertFromPixel('grid', pos)[1]
                            // dataobj[dataIndex].data[dataindex][1] = myChart.convertFromPixel('grid', pos)[1]
                            // var  py = myChart.convertFromPixel('grid', pos)[1]
                            // var  px = dataobj[dataIndex].data[dataindex][0]
                            var p = myChart.convertToPixel('grid', dataitem)

                            var single = {
                                type: 'circle',
                                position: p, //圆点位置                               
                            }
                            gph2.push(single)
                        })
                    })
                    myChart.setOption({
                        graphic: gph2,
                        series: [
                            {
                                id: 'a',
                                type: 'line',
                                data: dataobj[0].data
                            },
                            {
                                id: 'b',
                                type: 'bar',
                                data: dataobj[1].data
                            },
                            {
                                id: 'c',
                                type: 'bar',
                                data: dataobj[2].data
                            }
                        ]
                    });
                }
            })



        </script>
        <div id="tstDiv" style="display: none;position:absolute;height: 400px;width: 400px;background-color: black;left:40%;top:20%;z-index: 2000;"></div>

        <script>
            var chartDom = document.getElementById('line2');
            var myChart = echarts.init(chartDom);
            var option;

            const colors = ['#5470C6', '#91CC75', '#EE6666'];
            option = {
                color: colors,
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                grid: {
                    right: '20%'
                },
                toolbox: {
                    feature: {
                        dataView: { show: true, readOnly: false },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    data: ['Evaporation', 'Precipitation', 'Temperature']
                },
                xAxis: [
                    {
                        type: 'category',
                        axisTick: {
                            alignWithLabel: true
                        },
                        // prettier-ignore
                        data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    }
                ],
                yAxis: [
                    // {
                    //     type: 'value',
                    //     name: 'Evaporation',
                    //     position: 'right',
                    //     alignTicks: true,
                    //     axisLine: {
                    //         show: true,
                    //         lineStyle: {
                    //             color: colors[0]
                    //         }
                    //     },
                    //     axisLabel: {
                    //         formatter: '{value} ml'
                    //     }
                    // },
                    {
                        type: 'value',
                        name: 'Precipitation',
                        position: 'right',
                        alignTicks: true,
                        offset: 80,
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: colors[1]
                            }
                        },
                        axisLabel: {
                            formatter: '{value} ml'
                        }
                    },
                    {
                        type: 'value',
                        name: '温度',
                        position: 'left',
                        alignTicks: true,
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: colors[2]
                            }
                        },
                        axisLabel: {
                            formatter: '{value} °C'
                        }
                    }
                ],
                series: [
                    {
                        name: 'Evaporation',
                        type: 'bar',
                        data: [
                            2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3
                        ]
                    },
                    {
                        name: 'Precipitation',
                        type: 'bar',
                        yAxisIndex: 0,
                        data: [
                            2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3
                        ]
                    },
                    {
                        name: 'Temperature',
                        type: 'line',
                        yAxisIndex: 1,
                        data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
                    }
                ]
            };

            option && myChart.setOption(option);

        </script>
        <!-- leaflet 绘制等值线的操作 -->
        <!-- <div id="map" style="height:100%;width:100%;background-color: rgb(209, 188, 26);"></div> -->
        <script>
            var map = L.map('map').setView([28.6, 121.2], 9);
            
            // circle.bindPopup("<div style='width:100px;height:100px;background-color: rgb(209, 188, 26)'><div>");
            
            var myStyle = {
                "color": "black",
                "weight": 1,
                "opacity": 0.65
            };
            L.geoJSON([tz_json], {
                style: myStyle
            }).addTo(map);
            var circle = L.circle([28.8, 120.9], {
                name:"K8505",
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 1500
            }).addTo(map).on('click',function (e){
                console.log("click",e,e.target.options)          
                $("#tstDiv").show();
            });
            // circle.bindPopup("666");
            // circle.bindPopup("<div id='test' style='width:800px;height:600px;background-color: rgb(209, 188, 26)'><div>");
            
            // function highlightFeature(e) {
            //     var layer = e.target;

            //     layer.setStyle({
            //         weight: 5,
            //         color: '#666',
            //         dashArray: '',
            //         fillOpacity: 0.7
            //     });

            //     layer.bringToFront();
            // }
            // function resetHighlight(e) {
            //     geojson.resetStyle(e.target);
            // }
            // var geojson;
            // // ... our listeners
            // geojson = L.geoJson();
            // function zoomToFeature(e) {
            //     map.fitBounds(e.target.getBounds());
            // }
            // function style(feature) {
            //     return {
            //         fillColor: getColor(feature.properties.density),
            //         weight: 2,
            //         opacity: 1,
            //         color: 'white',
            //         dashArray: '3',
            //         fillOpacity: 0.7
            //     };
            // }

            // function getColor(d) {
            //     return d > 1000 ? '#800026' :
            //         d > 500 ? '#BD0026' :
            //             d > 200 ? '#E31A1C' :
            //                 d > 100 ? '#FC4E2A' :
            //                     d > 50 ? '#FD8D3C' :
            //                         d > 20 ? '#FEB24C' :
            //                             d > 10 ? '#FED976' :
            //                                 '#FFEDA0';
            // }

            // L.geoJson(tz_json, { style: style }).addTo(map);
            // function onEachFeature(feature, layer) {
            //     layer.on({
            //         mouseover: highlightFeature,
            //         mouseout: resetHighlight,
            //         click: zoomToFeature
            //     });
            // }

            // geojson = L.geoJson(tz_json, {
            //     style: style,
            //     onEachFeature: onEachFeature
            // }).addTo(map);

//             var info = L.control();

//             info.onAdd = function (map) {
//                 this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
//                 this.update();
//                 return this._div;
//             };

//             // method that we will use to update the control based on feature properties passed
//             info.update = function (props) {
//                 this._div.innerHTML = '<div class="container">\
// 	<div class="row clearfix">\
// 		<div class="col-md-12 column">\
// 			<div class="tabbable" id="tabs-952763">\
// 				<ul class="nav nav-tabs">\
// 					<li class="active">\
// 						 <a href="#panel-161767" data-toggle="tab">全省</a>\
// 					</li>\
// 					<li>\
// 						 <a href="#panel-473175" data-toggle="tab">台州</a>\
// 					</li>\
// 				</ul>\
// 				<div class="tab-content">\
// 					<div class="tab-pane active" id="panel-161767">\
// 						<p>\
// 							降水1的相关内容\
// 						</p>\
// 					</div>\
// 					<div class="tab-pane" id="panel-473175">\
// 						<p>\
// 							降水2的相关内容\
// 						</p>\
// 					</div>\
// 				</div>\
// 			</div>\
// 		</div>\
// 	</div>\
// </div>';
//             };

//             info.addTo(map);



        </script>

    </div>

</body>

</html>