<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/jquery.datetimepicker.css" />
    <script src="static/js/jquery.datetimepicker.full.min.js"></script>
    <!-- 表格 -->
    <link rel="stylesheet" href="https://unpkg.com/x-data-spreadsheet@1.1.9/dist/xspreadsheet.css">
    <script src="https://unpkg.com/x-data-spreadsheet@1.1.9/dist/xspreadsheet.js"></script>
    <script src="https://unpkg.com/x-data-spreadsheet@1.1.9/dist/locale/zh-cn.js"></script>
    <!-- 颜色选择器 -->
    <script src="static/js/jquery.minicolors.js"></script>
    <link rel="stylesheet" href="static/css/jquery.minicolors.css">
    <title>Logo</title>
</head>

<body>
    <div
        style="display: flex;align-content:flex-start;position: absolute; justify-content: center; flex-wrap: wrap; width: 100%;height: 100%; color: black; background-color: rgb(243, 244, 247);">
        <!-- 页面整体的div -->
        <!-- 页面的导航栏 -->
        <div
            style="display:table;width:100%;height:5%;vertical-align:middle; justify-content: center; background-color: rgb(33, 208, 231);">
            <h3 style="display: table-cell;vertical-align:middle">Logo</h3>
        </div>
        <div style="display:flex;align-items:center;width:100%;height:95%; background-color: rgb(163, 167, 179);">
            <!-- 登录的界面 -->
            <div style="display:flex;margin: 15px auto;margin-top: -10%;width:30%;height:35%;; background-color: rgb(55, 55, 209);">
                <form action="/login" method="POST" style="width:100%;height:100%;background-color:rgb(22, 119, 197)">
                    {% csrf_token %}
                    <div style="width:100%;height:100%;background-color:rgb(14, 158, 230)">
                        <div style="display:flex;align-items:center;width:100%;height:20%;background-color:rgb(231, 162, 71)">
                            <h3 style="margin: 15px auto">台州市气象决策服务系统</h3>
                        </div>
                        <div style="width:100%;height:60%;">
                            <div style="width:100%;height:25%"></div>
                            <div style="width:100%;height:25%;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="font-size:25px">账号:</label>
                                <input id="user" name="user" type="text" placeholder="请输入用户"
                                    style="width:50%;height:80%;">
                            </div>
                            <div style="width:100%;height:25%;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="font-size:25px">密码:</label>
                                <input name="passwd" type="password" placeholder="请输入密码" style="width:50%;height:80%;">
                            </div>
                        </div>
                        <div style="width:100%;height:20%;background-color:rgb(231, 162, 71)">
                            <div style="width:100%;height:20%"></div>
                            <input type="submit" value="登录"
                                style="width:15%;height:60%;float:right;margin-right:5%;background-color: brown;" />

                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>

</body>

</html>