<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/editor/tinymce.min.js"></script>
    <script src="static/editor/vendor/FileSaver.js"></script>
    <script src="static/editor/html-docx.js"></script>
    <script src="static/js/pdfobject.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/jquery.datetimepicker.css" />
    <script src="static/js/jquery.datetimepicker.full.min.js"></script>
    <title>首页</title>
    <style type="text/css">
        .scrollbar::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body>
    {% csrf_token %}
    <div
        style="display: flex;align-content:flex-start;position: absolute; justify-content: center; flex-wrap: wrap; width: 100%;height: 100%;background-color: rgb(213, 217, 230);">
        <div style="width:100%;height:5%;background-color: rgb(76, 109, 216);"></div>
        <div style="display:inline-block;width:50%;height:95%">
            <div style=" width: 100%; height: 5%;">
                <a id="modal-000001" href="#modal-container-000001" role="button" class="btn"
                    data-toggle="modal">新建</a>
                <a id="modal-000002" href="#modal-container-000002" role="button" class="btn"
                    data-toggle="modal">打开</a>
                <a id="modal-000003" href="#modal-container-000003" role="button" class="btn"
                    data-toggle="modal">删除</a>
                <a id="modal-000004" href="#modal-container-000004" role="button" class="btn"
                    data-toggle="modal">配置</a>
                <h5 style="float:right;width:25%">第47期:一周天气</h5>
                <h5 style="float:right;width:25%">台州市局</h5>
                <!-- 新建 -->
                <div class="modal fade" id="modal-container-000001" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true"></button>
                                <h4 class="modal-title" id="myModalLabel">
                                    新建材料:
                                </h4>
                            </div>
                            <div class="modal-body" style="height: 300px;">
                                <div style="display: inline-flex;width:100%;height:100%;">
                                    <div style="width:15%;height:100%;">

                                    </div>
                                    <!-- 新建材料的核心数据 -->
                                    <div style="width:70%;height:100%;border:1px solid black">
                                        <div style="width:100%;height:20%;"></div>
                                        <div style="display:inline-block; ;width:100%;height:15%;">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;材料种类:
                                            <select id="new_document_type"
                                                style="width:60%;height:80%;border:0">
                                            </select>
                                        </div>
                                        <div style="display:inline-block; ;width:100%;height:15%;">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撰稿人:&nbsp;&nbsp;&nbsp;&nbsp;
                                            <select id="new_document_writer"
                                                style="width:20%;height:80%;border:0"></select>
                                            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;签发人:
                                            <select id="new_document_publisher"
                                                style="width:20%;height:80%;border:0"></select>
                                        </div>
                                        <div style="display:inline-block; ;width:100%;height:15%;">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布单位:
                                            <select id="new_document_unity"
                                                style="width:60%;height:80%;border:0"></select>
                                        </div>
                                        <div style="display:inline-block; ;width:100%;height:15%;">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布日期:
                                            <input id="create_doc_date" type="text"
                                                style="width:60%;height:80%;border:0;text-align: center;"
                                                ;>
                                        </div>
                                        <script>
                                            $('#create_doc_date').datetimepicker({
                                                theme: 'dark',
                                                format: 'Y-m-d H:i'
                                            }
                                            );
                                        </script>
                                    </div>
                                    <div style="width:15%;height:100%;">

                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                    data-dismiss="modal">返回</button>
                                <button id="new_document_post" type="button" class="btn btn-primary"
                                    data-dismiss="modal">创建</button>
                            </div>
                            <script>
                                // 后端数据的传输
                                $('#new_document_post').click(function () {
                                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                                    console.log("向后端传输创建信息", $('#new_document_publisher').val())
                                    // 告诉后端创建一个新的数据，并在前端修改文档标识
                                    $.ajax({
                                        url: "create_doc_data",  // 请求的地址
                                        type: "post",  // 请求方式
                                        timeout: 250, //设置延迟上限
                                        data: {
                                            'csrfmiddlewaretoken': csrf,
                                            'doc_type': $('#new_document_type').val(),
                                            'doc_writer': $('#new_document_writer').val(),
                                            'doc_publisher': $('#new_document_publisher').val(),
                                            'doc_unity': $('#new_document_unity').val(),
                                            'doc_date': $('#create_doc_date').val()
                                        },
                                        dataType: "json",
                                        success: function (data) {
                                            // 侧边栏的功能
                                            console.log("返回成功", data)
                                        }
                                    })

                                })
                            </script>
                        </div>

                    </div>

                </div>
                <script type="text/javascript">
                    $('#modal-000001').click(function () {
                        console.log('新建文档')
                        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                        $.ajax({
                            url: "create_new_doc",  // 请求的地址
                            type: "post",  // 请求方式
                            timeout: 250, //设置延迟上限
                            data: {
                                'csrfmiddlewaretoken': csrf
                            },
                            dataType: "json",
                            success: function (data) {
                                // 'data_publisher': data_publisher,
                                // 'data_writers': data_writers,
                                // 'data_unity': data_unity,
                                // 'data_documenttype': data_documenttype
                                $('#new_document_publisher').html("")
                                $('#new_document_writer').html("")
                                $('#new_document_unity').html("")
                                $('#new_document_type').html("")
                                for (i = 0; i < data.data_publisher.length; i++) {
                                    var option_publisher = document.createElement('option');
                                    option_publisher.value = data.data_publisher[i]
                                    option_publisher.innerText = data.data_publisher[i]
                                    $('#new_document_publisher').append(option_publisher)
                                }
                                for (j = 0; j < data.data_writers.length; j++) {
                                    var option_writers = document.createElement('option');
                                    option_writers.value = data.data_writers[j]
                                    option_writers.innerText = data.data_writers[j]
                                    $('#new_document_writer').append(option_writers)
                                }
                                for (k = 0; k < data.data_unity.length; k++) {
                                    var option_unity = document.createElement('option');
                                    option_unity.value = data.data_unity[k]
                                    option_unity.innerText = data.data_unity[k]
                                    option_unity.style.textAlign = 'center'
                                    $('#new_document_unity').append(option_unity)
                                }
                                for (m = 0; m < data.data_documenttype.length; m++) {
                                    var option_documenttype = document.createElement('option');
                                    option_documenttype.value = data.data_documenttype[m]
                                    option_documenttype.innerText = data.data_documenttype[m]
                                    option_documenttype.style.textAlign = 'center'
                                    $('#new_document_type').append(option_documenttype)
                                }



                            }

                        })
                    })


                </script>
                <!-- 打开 -->
                <div class="modal fade" id="modal-container-000002" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true"></button>
                                <h4 class="modal-title" id="myModalLabel">
                                    打开材料
                                </h4>
                            </div>
                            <div class="modal-body" style="height: 600px;">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭</button> <button type="button"
                                    class="btn btn-primary">保存</button>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- 删除 -->
                <div class="modal fade" id="modal-container-000003" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true"></button>
                                <h4 class="modal-title" id="myModalLabel">
                                    删除材料
                                </h4>
                            </div>
                            <div class="modal-body" style="height: 600px;">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭</button> <button type="button"
                                    class="btn btn-primary">保存</button>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- 配置 -->
                <div class="modal fade" id="modal-container-000004" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true"></button>
                                <h4 class="modal-title" id="myModalLabel">
                                    标题
                                </h4>
                            </div>
                            <div class="modal-body" style="height: 600px;">
                                <input type="button" value="模块自定义" style="width:100%;height:10%">
                                <input type="button" value="文档种类" style="width:100%;height:10%">
                                <input type="button" value="参考网页" style="width:100%;height:10%">
                                <input type="button" value="密码账号" style="width:100%;height:10%">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭</button> <button type="button"
                                    class="btn btn-primary">保存</button>
                            </div>
                        </div>

                    </div>

                </div>







                <!-- 文件头 -->
            </div>
            <div style="display:inline-flex;width: 100%; height: 90%">
                <div style="display:inline-block; width: 5%; height: 100%;">
                    <button type="button" style="width: 90%; height: 50px;background-image: url(static/src/段落.png);background-size: 100%;background-repeat: no-repeat;"></button>
                    <button type="button" style="width: 90%; height: 50px;background-image: url(static/src/图表.png);background-size: 100%;background-repeat: no-repeat;"></button>
                    <button type="button" style="width: 90%; height: 50px;background-image: url(static/src/列表.png);background-size: 100%;background-repeat: no-repeat;"></button>
                    <button type="button" style="width: 90%; height: 50px;background-image: url(static/src/短期.png);background-size: 100%;background-repeat: no-repeat;"></button>
                    <button type="button" style="width: 90%; height: 50px;background-image: url(static/src/十天.png);background-size: 100%;background-repeat: no-repeat;"></button>
                    <button type="button" style="width: 90%; height: 50px;background-image: url(static/src/建议.png);background-size: 100%;background-repeat: no-repeat;"></button>

                </div>
                <textarea id="content" cols="100" rows="10" style="width:95%;height: 100%;">
                    <p>We all live in a yellow submarine, yellow submarine, yellow submarine, yellow submarine</p>
                    <p>Images can also be exported if you source them as base64 DATA URI.</p>   
                </textarea>


            </div>
            <div  style="display: inline-flex;width:100%;height: 5%;"> 
                <div  style="width:85%;height: 100%;"> </div>
                <button id="convert3" style="width:40px;height:40px;background-image: url(static/src/合并.png);background-size: 100%;background-repeat: no-repeat;"></button>
                <div  style="width:2%;height: 100%;"> </div>
                <button id="convert2" style="width:40px;height:40px;background-image: url(static/src/保存.png);background-size: 100%;background-repeat: no-repeat;"></button>
                <div  style="width:2%;height: 100%;"> </div>
                <button id="convert" style="width:40px;height:40px;background-image: url(static/src/预览.png);background-size: 100%;background-repeat: no-repeat;"></button>
            </div>
            
            <script>
                tinymce.init({
                    selector: '#content',
                    plugins: [
                        "advlist autolink lists link image charmap print preview anchor",
                        "searchreplace visualblocks code fullscreen fullpage textcolor",
                        "insertdatetime media table contextmenu paste",
                        'image'
                    ],
                    toolbar: "insertfile undo redo | styleselect | bold italic textcolor | " +
                        "alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | " +
                        "link image" + 'image'
                });
                document.getElementById('convert').addEventListener('click', function () {
                    //获取html的内容
                    var contentDocument = tinymce.get('content').getContent();
                    var formData = new FormData();
                    formData.append("document", contentDocument);

                    $.ajax({
                        url: "file/pdf",  // 请求的地址
                        type: "POST",  // 请求方式
                        data: formData,
                        processData: false,
                        contentType: false,
                        enctype: "multipart/form-data",
                        responseType: "arraybuffer",
                        mimeType: "text/plain; charset=x-user-defined",
                        success: function (data) {
                            var rawLength = data.length;
                            var array = new Uint8Array(new ArrayBuffer(rawLength));
                            for (i = 0; i < rawLength; i++) {
                                array[i] = data.charCodeAt(i) & 0xff;
                            }

                            var pdfBlob = new Blob([array], { type: "application/pdf;charset=utf-8" })
                            var pdfFile = URL.createObjectURL(pdfBlob)
                            const options_pdf = {
                                forcePDFJS:true,
                                pdfOpenParams: {
                                    pagemode: "thumbs",
                                    navpanes: 0,
                                    toolbar: 0,
                                    scrollbar: 0,
                                    statusbar: 0,
                                    view: "FitV"
                                }
                            }

                            PDFObject.embed(pdfFile, "#pdf_demo", options_pdf);
                        }

                    })
                });

            </script>

        </div>

        <div id="pdf_demo" style="width:50%;height:95%;">
            <!-- 用来展示pdf -->
        </div>

    </div>
    {% csrf_token %}
</body>

</html>