<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/editor/tinymce.min.js"></script>
    <script src="static/editor/vendor/FileSaver.js"></script>
    <script src="static/editor/html-docx.js"></script>
    <script src="static/js/pdfobject.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <title>test_demo</title>
</head>

<body>
    <div style="display:flex;position: absolute;width:98%;height:98%;border:3px solid black">
        <div style="width:50%;height:100%;border:3px solid black">
            <textarea id="content" cols="100" rows="10" style="width:100%;height: 95%">
                <p>We all live in a yellow submarine, yellow submarine, yellow submarine, yellow submarine</p>
                <p>Images can also be exported if you source them as base64 DATA URI.</p>   
            </textarea>
            <button id="convert" style="width:100%;height: 3%">Convert</button>
            <script>
                tinymce.init({
                    selector: '#content',
                    plugins: [
                        "advlist autolink lists link image charmap print preview anchor",
                        "searchreplace visualblocks code fullscreen fullpage textcolor",
                        "insertdatetime media table contextmenu paste",
                        'image'
                    ],
                    toolbar: "insertfile undo redo | styleselect | bold italic textcolor | " +
                        "alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | " +
                        "link image" + 'image'
                });
                document.getElementById('convert').addEventListener('click', function () {
                    // console.log("ok");
                    //获取html的内容
                    var contentDocument = tinymce.get('content').getContent();
                    var converted = htmlDocx.asBlob(contentDocument)

                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
 
                    $.ajax({
                        url: "pdf_report",  // 请求的地址
                        type: "get",  // 请求方式
                        timeout: 250, //设置延迟上限
                        data: {
                            'csrfmiddlewaretoken': csrf,
                            'html_data': contentDocument
                        },
                        dataType: "json",
                        success: function (data) {
                            // 'data_publisher': data_publisher,
                            var datablob  = new Blob( [ data ] )
                            var url_link = URL.createObjectURL(datablob)
                            console.log("ok")
                            PDFObject.embed(url_link, "#pdf_demo", {width: "100%", scrollbars: "0"});
                        }

                    })
                   
                    // PDFObject.embed("report.pdf", "#pdf_demo", {width: "100%", scrollbars: "0"});


                    var options = {
                        pdfOpenParams: {
                            pagemode: "thumbs",
                            toolbar: 0,
                            navpanes: 0,
                            statesbar: 0,
                            view: "FitV",
                            scrollbars: "0"
                        }
                    }
                    
                    // console.log(typeof (converted), converted)

                    // saveAs(converted, 'test.docx')





                });

            </script>
        </div>
        <!-- <style>
            .pdf_demo { height: 30rem; border: 1rem solid rgba(0,0,0,.1); }
        </style> -->
        <div id="pdf_demo" style="display:flex;width:50%;height:100%;border:3px solid black">
            <!-- 用来展示pdf -->
        </div>

    </div>
</body>

</html>